@charset "utf-8";
/* CSS Document */


body, ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset {
    margin: 0;
    padding: 0;
}
body,html{margin:0px auto;
           padding:0px;
		   background-color:#FCFCFC;
			color: #444444;
		    font: 12px/1.6em Verdana,Helvetica,Arial,sans-serif;
		   text-align:center;
		  	background:url(images/bg_03.jpg) repeat center 0px;

		   }
 .titleP{       background:url(images/reg_02.gif) repeat-x center;
				font-family:Arial, Helvetica, sans-serif;
                font-size:10px;
				color:#929292;
				background-color:transparent;
				padding-top:15px;
				padding-bottom:5px;
				height:30px;
				position:absolute;
				top:-41px;
				left:0px;
				margin-top:0px;}

  .titleP span{ font-weight:bold;
        color:#000000;
		font-size:12px;
		}
#container{ position:relative;
			margin-left:auto;
            margin-right:auto;
			width:930px;
			background:url(images/bg_03.jpg) repeat center;

			}
#banner{  margin-left:auto;
          margin-right:auto;
		  	
		  }
#out{ background:url(images/reg_02.gif) repeat-x top;
		height:30px;
	}
.form_tab{margin-top:4px;}
 .form_tab .mytab{
 border:1px #e4e4e4 solid;
 width:914px;
 border-collapse:collapse;
 text-align:center;
		}
.tabb .form_tab .mytab td{
	text-align: left; 
	width:83px;
	height:30px;
	text-align:center;
       vertical-align:middle;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;

				}
.list{font-size:12px;
		font-family:Arial, Helvetica, sans-serif;
		color:#D4BF00;
		text-align:left;
		margin-bottom:0px;
		padding-bottom:0px;
		position:relative;
		z-index:1;
		
		
		
		
		
		}
.find{margin:0px 10px -5px 0px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		line-height:18px;
		border:1px #A3A3A3 solid;
		position:relative;
		left:290px;
		height:18px;
		background:url(images/find_01.gif) no-repeat left;
		padding-left:20px;
		
		}
.con_e{position:relative;z-index:0;margin:-5px 0 0 -3px}
.findd{position:absolute;
		top:20px;
		left:830px;
		width:50px;
		background:url(images/but_01.gif) no-repeat center 0;
		border:none;
		background-color:transparent;
		height:25px;
		}
.findd2{position:absolute;
		top:17px;
		left:830px;
		width:50px;
		background:url(images/but_01.gif) no-repeat center 0;
		height:25px;
		background-color:transparent;
		border:none;


}


				

	

						

		
.last_tab{width:530px;
		border:1px #e4e4e4 solid;
        border-collapse:collapse;
		margin:0px;
		border-left:none;
		border-right:none;
		}
.last_tab td{ 
				height:30px;
				width:225px;
				font-family:Arial, Helvetica, sans-serif;
				font-size:12px;
				text-align:center;
				vertical-align:middle;
				}
.last_form{width:465px;
			margin-right:5px;
			padding:0px;
			
			
		}
h4 span.word{color:#d4bf00;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		text-align:left;
		display:block;
		margin-bottom:-18px;
		margin-left:-20px;
		
}
.orderStatue{
	color:#a3a3a3;
	text-decoration: none;
	font-weight:100;
}
.orderStatue:hover{
	color:#0099cc;
}
.selectdA{
	color:#000;
	text-decoration: none;
	font-weight:700;
}
.form_tab2{margin-top:4px;}
.form_tab2 .mytab2{	border:1px #e4e4e4 solid;
 					width:914px;
					border-collapse:collapse;
					text-align:center;}
.form_tab2 .mytab2 td{	
						height:30px;
							text-align:center;
					        vertical-align:middle;
							font-family:Arial, Helvetica, sans-serif;
							font-size:12px;}

.form_tab2 .mytab2 .td1{width:5%;
						}
.form_tab2 .mytab2 .td2{width:10%;}
.form_tab2 .mytab2 .td3{width:15%;}
.form_tab2 .mytab2 .td4{width:10%;}
.form_tab2 .mytab2 .td5{width:20%;}
.form_tab2 .mytab2 .td6{ width:10%;}
.form_tab2 .mytab2 .td7{width:10%;}
.form_tab2 .mytab2 td8{ width:20%;}

.last_tab .td2{width:60%;}
.last_tab .td3{width:20%;}
.last_tab .td4{width:20%;}

#footer{color:#000000;
        text-align:center;
		margin-top:0px;
		border-top:1px #6C95D7 solid;
		padding-top:15px;
		padding-bottom:200px;
		background-color:#ffffff;
		}
.closenode {
   /* background: url("images/dashline.gif") repeat-x scroll 0 10px transparent;*/
}
.c_header {
   width:915px;
    overflow: hidden;
}
.c_header h2, .c_header h3 {
    background: none repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 14px;
    padding-right: 15px;
}
.c_header h3 {
   /* background: url("images/arrow_down_big.gif") no-repeat scroll 100% 5px #FFFFFF;*/
    color: #D4BF00;
}
.closenode h3 {
    /*background-image: url("images/arrow_right_big.gif");*/
}
.c_header_action {
    float: right;
}
.c_header .c_header_ctrlbtn {
    display: none;
}
.closenode .c_header_ctrlbtn {
    background-color: #FFFFFF;
    color: #666666;
    cursor: pointer;
    display: block;
    font-weight:100;
}		
.one {
	background:url(images/tag_01.png) no-repeat left bottom !important;
	background:url(images/tag_01.gif) no-repeat left bottom;
    background-repeat: no-repeat;
    width:150px;
	font-size:12px;
	height:25px;

}
.one div{
	margin:1px 0 0 10px;
	line-height:200%;
    padding-left:8px;
	padding-top:1px;
}
.cente{
	margin:-5px 0 0 -3px
}
#trone td{
	font-weight:700;
}
#fenye{
	float:right;
	height:30px;
	margin:5px 0 0 0 ;
	display:block;
}
#fenye a {
    border: 1px solid;
    float: left;
    height: 20px;
    line-height: 22px;
    margin-right: 2px;
    overflow: hidden;
    padding: 0 6px;
    border-color: #cccccc;
    color: #0099CC;
    text-decoration: none;
}
.orderlist,.memberlist,.messagelist{
	background-color:#fff;
	cursor:pointer;
}
.orderlist:hover,.memberlist:hover,.messagelist:hover{
	background-color:#f0f0f0;
}

.addmessage{
	line-height:30px;margin-left:450px;font-size:12px;
	cursor:pointer;color:#A3A3A3;font-weight:100;
}
.addmessage:hover{
	color:#0099cc;
	
}



#container1{text-align:center;
			width:400px;
			background:url(images/top_pt.gif) no-repeat #EFEFEF;
			padding-top:1px;
			
			
			}
h4.add{margin-top:-6px;
	font-family:"Times New Roman", Times, serif;
	color:#000000;
	}
label{font-family:"Times New Roman", Times, serif;
		font-size:12px;}
#code #code2{ font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		}
#code{margin-top:15px; 
		}
#code3{margin-top:15px;
		}
#code4{ margin-top:10px;}
#code5{ margin-top:10px;
		margin-bottom:-3px;}
#code3 .tao5,#code4 .tao6{line-height:17px;
							border:1px #a4a4a4 solid;
							width:200px;
							font-family:"Times New Roman", Times, serif;
							font-size:12px;
							}
#code5 .ready{vertical-align:top;
				font-family:Arial, Helvetica, sans-serif;
				font-size:12px;
				}
#code5 .tao7{border:1px #a4a4a4 solid;
			width:200px;}
		
		
#code2{ margin-top:10px;
		margin-bottom:-5px;
		}
#acti{ margin-top:5px;
		
		}
#acti .su{background:url(images/but_01.gif) no-repeat;
			border:none;
			height:25px;
			width:50px;}
#b_pt{		background:url(images/bottom_pt.gif) no-repeat left bottom;
			height:72px;
			margin-top:10px;
			
		
}

#container1 .tao1{ width:200px;
					border:1px #a4a4a4 solid;
					line-height:17px;
					font-size:12px;
					font-family:"Times New Roman", Times, serif;
					margin-top:20px;
			
				}
#container1 .tao2{   width:200px;
					border:1px #a4a4a4 solid;
					font-size:12px;
					font-family:"Times New Roman", Times, serif;

					}
#container2{text-align:center;
			width:400px;
			background:url(images/top_pt.gif) no-repeat #EFEFEF;
			padding-top:1px;
			
			
			}
h4.a_r_s{margin-top:-6px;
	font-family:"Times New Roman", Times, serif;
	color:#000000;
	font-size:14px;
	}
#say #ready_cont{ font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		}
#say{margin-top:15px; 
		}
		
		
#ready_cont{ margin-top:10px;
		}
#acti_b{ margin-top:5px;
		
		}
#b_pttt{		background:url(images/bottom_pt.gif) no-repeat left bottom;
			height:72px;
			margin-top:5px;
			
		
}
.in_con{vertical-align:top;
		font-family:"Times New Roman", Times, serif;
		font-size:12px;
		}

#acti_b .su2{ background:url(images/but_01.gif) no-repeat;
			border:none;
			height:25px;
			width:50px;
			
						}

#container2 .tao3{  width:200px;
					border:1px #a4a4a4 solid;
					line-height:17px;
					font-size:12px;
					font-family:"Times New Roman", Times, serif;
					margin-top:20px;

			
				}
#container2 .tao4{  width:200px;
					border:1px #a4a4a4 solid;
					font-size:12px;
					font-family:"Times New Roman", Times, serif;

					}
#container3{text-align:center;
width:400px;
background:url(images/top_pt.gif) no-repeat #EFEFEF;
padding-top:13px;
}



#tijiao{background:url(images/bottom_pt.gif) no-repeat left bottom;
		height:75px;
		padding-bottom:5px;
		
		}
#tijiao .ttt{ background:url(images/but_01.gif) no-repeat;
			border:none;
			height:25px;
			width:50px;
			}
#text_y{
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		text-align:center;
		}
#ringing h4.last_h{  
	font-family:"Times New Roman", Times, serif;
	color:#000000;
	font-size:14px;
	margin-top:-3px;
	
	}
#text_y .grade{
	border:1px #a4a4a4 solid;
	width:100px;	
			}
#text_y .member_ama{ 
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	line-height:17px;
	width:80px;
}
#text_y .huiyuan_biao{
	width:350px;
	margin-top:-5px;
	margin-bottom:10px;
						}

#text_y .huiyuan_biao td{height:30px;
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	text-align:center;
	vertical-align:middle;
							}

#text_y .huiyuan_biao td.hui_in{
	text-align:left;
}
#hidden_addorder,#hidden_addmessage,#hidden_showmember,#hidden_showmessage,#hidden_showorder{
	display:none;
}
#container4{text-align:center;
			width:600px;
			background:url(images/large_top_01.gif) no-repeat #EFEFEF;
			padding-top:13px;
			}
#container4 #din_d #d_d_xiang{  padding-left:20px;
								padding-right:20px;
								}
#container4 #din_d #d_d_xiang .dingdan_biao{width:550px;
											margin-top:-5px;
											margin-bottom:10px;
											
						}
#container4 #din_d #d_d_xiang .dingdan_biao .dan_t{text-align:left;}
#container4 #din_d #d_d_xiang .dingdan_biao td{	height:30px;
												font-family:"Times New Roman", Times, serif;
												font-size:12px;
												text-align:right;
												vertical-align:middle;
												width:25%;
							}

#container4 #din_d #d_d_xiang .dingdan_biao td.huiyuanmingcheng,#container4 #din_d #d_d_xiang .dingdan_biao td.taobaodingdanhao, #container4 #din_d #d_d_xiang .dingdan_biao td.dingdanriqi,#container4 #din_d #d_d_xiang .dingdan_biao td.chaozhuoshijian,#container4 #din_d #d_d_xiang .dingdan_biao td.dingdanjifen,#container4 #din_d #d_d_xiang .dingdan_biao td.zhuangtai{ text-align:left;}		
#container4 #din_d h4.last_ding{font-family:"Times New Roman", Times, serif;
								color:#000000;
								font-size:14px;
								margin-top:-3px;
								}
#container4 #din_d #d_d_xiang .dingdan_biao td.dingdanjifen input.d_d_j_fen{    font-family:"Times New Roman", Times, serif;
															    				font-size:12px;
																				line-height:17px;
																				border:1px #a4a4a4 solid;
																}
#container4 #din_d #d_d_xiang .last_biaoge{ width:550px;
											text-align:center;
											height:90px;
											}														
#container4 #din_d #d_d_xiang .last_biaoge  td{ 
												font-family:"Times New Roman", Times, serif;
												font-size:12px;
												text-align:center;
												vertical-align:middle;
												}
#container4 #din_d #d_d_xiang .last_biaoge td.last_td{ width:25%;
													   vertical-align:top;
													   text-align:right;
																}
#container4 #din_d #d_d_xiang .last_biaoge td.beizhu .jieshuo{	border:1px #a4a4a4 solid;
																width:405px;
																font-family:"Times New Roman", Times, serif;
																font-size:12px;
																
																}	
						
#container4 #din_d #d_d_xiang .dingdan_biao td.zhuangtai .z_t_ai{border:1px #a4a4a4 solid;
																 width:80px;
																}	
#container4  #niuzi{background:url(images/large_bottom_01.gif) no-repeat left bottom;
					height:85px;
					padding-bottom:0px;
					}
#container4  #niuzi .t_ni{background:url(images/but_01.gif) no-repeat;
						  border:none;
						  height:25px;
						  width:50px;
						  margin-top:13px;
							}	
#container5{ width:800px;
			 
			 text-align:center;
			 position:relative;
			 background:url(images/last_top_02.gif) no-repeat top;
			 
			 padding-top:40px;
			 }
#xian_shi_liu_yan{  width:398px;
					border-right:1px #a4a4a4 dashed;
					margin-right:398px;
					
					
					
				   }
#hui_fu_liu_yan{ width:398px;
				 margin-top:-270px;
				 margin-left:400px;
					}
#container5 #tux{ height:32px;
				  margin-top:20px;
				  background:url(images/last_bottom_01.gif) no-repeat top;
				   }
#container5 #xian_shi_liu_yan .wenbenyu{width:350px;
										 height:200px;
										 border:1px #a4a4a4 solid;
										 }
#container5 #xian_shi_liu_yan h4.n_ya_r{ text-align:left;
										font-family:"Times New Roman", Times, serif;
										font-size:12px;
										margin-bottom:0px;
										 } 
#container5 #xian_shi_liu_yan .wenbenyu .zheng{ width:350px;
												height:200px;
												font-family:"Times New Roman", Times, serif;
												font-size:12px;
												border:none;
												
												
												
												
												
												}										 				   
#container5 #xian_shi_liu_yan .fa_s{ width:200px;
									 margin-left:200px;
									 }
#container5 #xian_shi_liu_yan .fa_s td.f_re .ren_ming{ width:80px;
													   font-family:"Times New Roman", Times, serif;
													   font-size:12px;
													   border:0px;
													   line-height:14px;
														}
#container5 #xian_shi_liu_yan .fa_s td.h_m_s .hour{ width:80px;
													font-family:"Times New Roman", Times, serif;
													font-size:12px;
													border:0px;
													line-height:12px;
													}
#container5 #xian_shi_liu_yan .fa_s td.ha{  width:25%;
											text-align:right;
											font-family:"Times New Roman", Times, serif;
											font-size:12px;
											}
#container5 #xian_shi_liu_yan .fa_s td.shiij{ width:75%;
											  text-align:right;
											  font-family:"Times New Roman", Times, serif;
											  font-size:12px;
											 }
#container5 #hui_fu_liu_yan h4.zhu_ti{ text-align:left;
										font-family:"Times New Roman", Times, serif;
										font-size:12px;
										margin-top:5px;
										padding:0px;
										margin-bottom:0px;
									
										
										}
#container5 #hui_fu_liu_yan .wen_ben{ width:400px;
										margin-top:-2px;
									  }
#container5 #hui_fu_liu_yan .wen_ben .zhengwen{ 	width:350px;
													height:200px;
													font-family:"Times New Roman", Times, serif;
													font-size:12px;
													border:1px #a4a4a4 solid;
												} 
#container5 #hui_fu_liu_yan .huifuren{  width:200px;
										margin-left:200px;
										}
#container5 #hui_fu_liu_yan .huifuren td.fu_1 .h_f_ring{ width:50px;
														line-height:14px;
														font-family:Arial, Helvetica, sans-serif;
														font-size:12px;
														border:0px;
														}
#container5 #hui_fu_liu_yan .huifuren td.fu_1{ text-align:left;}														
#container5 #hui_fu_liu_yan .huifuren td.xixi{text-align:right;
											font-family:"Times New Roman", Times, serif;
											font-size:12px;
											width:35%;
											}
#container5 #hui_fu_liu_yan .huifuren td.fu_1{ width:65%;}
#container5 #hui_fu_liu_yan #anniu .fhuo{background:url(images/but_01.gif) no-repeat;
													border:none;
													height:25px;
													width:50px;
													}
#container5 #hui_fu_liu_yan #anniu{padding-left:70px;}
.liuyanneiyong {
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    font-family: "Times New Roman",Times,serif;
    font-size: 12px;
    height: 200px;
    overflow: hidden;
    width: 350px;
}
							